# Ignorer les fichiers CSV
*.csv

# Ignorer les fichiers temporaires et les fichiers de sauvegarde
*.swp
*.swo
*.bak
*.tmp

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de cache
__pycache__/
*.py[cod]

# Ignorer les environnements virtuels
.env/
.venv/
env/
venv/
jupyter_env/
# Ignorer les fichiers de configuration spécifiques à l'environnement
.env.local
.env.*.local
.envrc
.env.docker
.vscode/

# Ignorer les fichiers générés par l'IDE
.idea/
*.iml

# Ignorer les fichiers de distribution
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

# Ignorer les fichiers de coverage
.coverage
*.cover
*.py,cover
.hypothesis/

# Ignorer les fichiers de Jupyter Notebook
.ipynb_checkpoints/

# Ignorer les fichiers de bibliothèque
lib/
lib64/
site-packages/

# Ignorer les fichiers de log, coverage, et les données de test
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.cache/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Ignorer les fichiers de documentation
docs/_build/
target/


# Ignorer les fichiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db

# Ignorer les clés et credentials
*.pem
*.key
*.zip
cores/aggTrades/historical/ingestion/src/BTCUSDT-aggTrades-2024-01.zip
*.parquet
