beautifulsoup4
matplotlib
numpy
pandas_ta
plotly
psutil
pyarrow
PyGithub
pyspark
python-dotenv
PyYAML
Requests
schedule
scikit_learn
scipy
seaborn
setuptools
tqdm
urllib3
web3
websocket_client
google
google-api-core
google-cloud
google-cloud-storage
